body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
}

header{
	z-index: 1010;
}

.text-mute{
	color: #455358;
}

.log-out{
	position: absolute;
	right: 10%;
}

.user-address{
	position: absolute;
	left: 70%;
}

.user-address a div{
	float: left;
	width: 3em !important;
	height: 3em !important;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1.2px #5e72e4;
}

.navigation-left{
	overflow-y: auto; 
	width: 18%;
	height: 100%;
	margin-left: 10%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 0;
}

.navigation-left ul {
	margin-top: 25%;
}

.navigation-left ul li{
	transition: all ease-in-out .1s;
}

.navigation-left ul li:hover{
	transform: translateY(-.1em);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
	transition: .2s all ease-in-out;
}

.content-cop{
	width: 70%;
	margin-top: .5%;
	margin-right: .5%;
}
.content-cop:hover{
}

.content-cop::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.content-cop::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.content-cop::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #333;
	cursor: pointer;
}


.search-input{
  width: 30%;
  height: 3em;
  border: 0;
  border-bottom: 2px #333 solid;
  transition: .2s ease-in-out;
}

.search-input[type='search']{
  font-size: 20px; 
}

.search-input[placehoder]{
  font-size: 20px; 
}

.search-input::-webkit-input-placeholder{
  font-size: 16px;
}

.search-input:focus{
  outline: none;
  border-bottom: 4px #5E72E4 solid;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
