@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}

span:nth-child(2n) {
  color: #11cdef;
}
.wecome-form{
	width: 100%;
	height: 30em;
}

.wecome-form span{
	text-shadow: #333 1px 1px 3px;
}

.wellcome-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 3em;
  color: #9A12B3;
  cursor: pointer;
}

.wellcome-text:active{
	text-shadow: #fff 1px 1px 1px;
}

.letterDrop {
  position: relative;
  top: 0;  
  display: inline-block;
  text-transform: uppercase; 
  letter-spacing: 0.5em;
  opacity: 0.8;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
}

.main-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../package/img/makeup/term/90561666462c285.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.question {
  height: 100px;
}

.question span {
  position: relative;
  top: 10px;
  display: inline-block;
  animation: bounce 1.5s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #5e72e4,
               0 2px 0 #5e72e4,
               0 3px 0 #5e72e4,
               0 4px 0 #5e72e4,
               0 5px 0 #5e72e4,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

.question span:nth-child(2) { animation-delay: .6s; }
.question span:nth-child(3) { animation-delay: .7s; }
.question span:nth-child(4) { animation-delay: .8s; }
.question span:nth-child(5) { animation-delay: .9s; }
.question span:nth-child(6) { animation-delay: 1s; }
.question span:nth-child(7) { animation-delay: 1.1s; }
.question span:nth-child(8) { animation-delay: 1.2s; }

@keyframes bounce {
  100% {
    top: -1px;
    text-shadow: 0 1px 0 #5e72e4,
                 0 2px 0 #5e72e4,
                 0 3px 0 #5e72e4,
                 0 4px 0 #5e72e4,
                 0 5px 0 #5e72e4,
                 0 6px 0 #5e72e4,
                 0 7px 0 #5e72e4,
                 0 8px 0 #5e72e4,
                 0 9px 0 #5e72e4,
                 0 20px 25px rgba(0, 0, 0, .2);
  }
}
#key-form{
	width: 15%;
	height: 5em;
	margin-left: 42.5%;
	position: relative;
	border: solid #5e72e4 2px;
}
#key-form p {
	font-family: 'Titan One', cursive;
	text-shadow: 0 1px 0 #5e72e4,
               0 2px 0 #5e72e4,
               0 3px 0 #5e72e4,
               0 4px 0 #5e72e4,
               0 5px 0 #5e72e4,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
	color: #000;
	font-size: 42px;
}
#key-form div{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #333;
	z-index: -1;
	box-shadow: #333 1px 1px 3px;
}

#top-left{
	top: -5%;
	left: -4%;
}
#top-right{
	top: -5%;
	right: -4%;
}

#bottom-right{
	bottom: -5%;
	right: -4%;
}

#bottom-left{
	bottom: -5%;
	left: -4%;
}

.form{
	margin-top: 15%;
}

.form p input{
	width: 30%;
	height: 2.5em;
	border: none;
	border-radius: 7px;
}

.form p input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 28px;
	text-align: center;    
    opacity: .8; /* Firefox */
}

.form p input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 28px;
	text-align: center;
}

.form p input::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 28px;
	text-align: center;
}
.form p input[type=text]{
	font-size: 28px;
	color: #5e72e4;
	text-align: center;
	font-weight: bold;
}

.result{
	width: 10%;
	animation: key .2s ease 1 normal forwards;
	display: none;
	position: absolute;
	left: 45%;
	top: 50%;
}

@keyframes key{
	0%{
		transform: translate(-2px, -2px);
	}
	20%{
		transform: translate(2px, 2px);
	}
	40%{
		transform: translate(-2px, -2px);
	}
	60%{
		transform: translate(2px, 2px);
	}
	80%{
		transform: translate(-2px, -2px);
	}
	100%{
		transform: translate(2px, 2px);
	}
}

@keyframes correct{
	0%{

	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(0.8);
	}
}

.correct {
	font-family: 'Titan One', cursive;
	display: none;
	width: 10%;
	left: 45%;
	position: absolute;
	animation: correct .2s normal ease-in-out;
}

.success-component{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.success-component div{
	position: absolute;
	width: 30%;
	height: 98%;
	z-index: 1010;
	background-image: url('../../package/img/makeup/term/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	left: 35%;
	border-bottom-left-radius: 35%;
	border-bottom-right-radius: 35%;
}
.success-component div h2{
	text-shadow: #333 3px 1px 3px;
	margin-top: 30%;
}