.pointer{
  cursor: pointer;
}

.remove_term{
  text-shadow: #8898aa 1px 3px 15px;
  transition: .1s all ease-in-out;
}

.remove_term:hover{
  text-shadow: #8898aa 1px 3px 13px;
  transform: translateY(-3px);
  transition: .2s all ease-in-out;
}

.remove_term:active{
  transition: 0s all ease-in-out;
  color: #5e72e4 !important;
}

.ni-image:hover{
  color: #5e72e4;
}

.TE{
  width: 40%;
  height: 5em;
  margin-left: 2em;
  margin-top: 1em;
}

.TV{
  width: 40%;
  height: 5em;
  margin-left: 5em;
  margin-top: 1em;
}

.card-small{
  width: 100%;
  height: 3em;
  border: 0;
  border-bottom: 2px #333 solid;
  transition: 0s ease-in-out;
}

.card-small[type='text']{
  font-size: 16px; 
}

.card-small::-webkit-input-placeholder{
  font-size: 14px;
}

.card-small:focus{
  outline: none;
  border-bottom: 4px #5E72E4 solid;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile-title{
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

input[type=file]{
padding:10px;
background:#2d2d2d;}

.voca-area:hover i{ 
  display: block !important;
}

.voca-area:hover h3{ 
  display: none !important;
}

.recicle_bin{
  display: none !important;
  font-size: 24px !important;
  transition: .1s all ease-in-out;
  position: absolute;
  margin-top: 2%;
  margin-left: 1%;
}

.recicle_bin:hover{
  transform: translateY(-2px);
  transition: .1s all ease-in-out;
}

.container-2 div h3{
  position: absolute;
}

.TE{
  margin-left: 7.5%;
}

.preview{
  display: none;
  position: absolute;
  left: 88%;
  width: 8em;
  height: 6em;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .1s ease-in-out;
}

.preview:hover{
  transform: translateY(-3px);
  transition: all .1s ease-in-out;
}

.preview:hover i{
  display: block;
  cursor: pointer;
}

.preview i{
  display: none;
  font-size: 16px;
  padding: 2px 2px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  border: solid 1px #9999;
  top: -8%;
  left: 90%;
}

.preview i:hover{
  transform: scale(1.1);
}